<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apitestResReq.GetSpecificUser"/>
      <class name="apitestResReq.GetNonExistingUser"/>
      <class name="apitestResReq.GetUsers"/>
     <!--  <class name="apitestResReq.PostRegister"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
